/* --- Some quick hacks to protect post content from breaking the entire site. This this quickly, so definitely fix up when you find the time (Cheers, Noel) --- */

#content-row {
	
	iframe, table, img, object, embed { max-width: 100%!important }

	.entry-content a {
		word-wrap: break-word;
	}

	table {
		table-layout: auto!important;
	}

}

/* --- Media Queries --- */

@mixin bp($point) {

	@if $point == phone {
		@media (max-width: 599px) { 
			@content; 
		}
	}

	@if $point == portrait {
		@media (max-width: 670px) { 
			@content; 
		}
	}

	@else if $point == tablet {
		@media (min-width: 600px) and (max-width: 980px) {
			@content; 
		}
	}

	@else if $point == mobile {
		@media (max-width: 980px)  {
			@content;
		}
	}

	@else if $point == desktop {
		@media (min-width: 980px)  {
			@content;
		}
	}
	
	@else if $point == desktoplarge {
		@media (min-width: 1600px)  {
			@content;
		}
	}

}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@import url('https://europe.wordcamp.org/2015/wp-content/plugins/jetpack/modules/tiled-gallery/tiled-gallery/tiled-gallery.css');

/* --- Variables --- --- --- --- --- --- --- --- */

$color-body-copy: #222;
$color-link-default: #EE3C39;

/* --- Reset --- --- --- --- --- --- --- --- */
* { 
	margin: 0;
	padding: 0; 
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.debug { white-space: pre; padding: 2em; }

#nav-above,
#return-to-central,
.screen-reader-text,
.navbar .search-form { display: none; }

/* --- Typography --- --- --- --- --- --- --- --- */

body, form, th, td, select, option, input, textarea,
button { 
	font: normal 14px/1.5 "Ek Mukta", Lucida Grande, sans-serif; 

	@include bp(phone) {
		font-size: 12px;
	}

	@include bp(tablet) {
		font-size: 16px;
	}

	@include bp(desktop) {
		font-size: 16px;
	}
	
}

h1, h2, h3, h4, h5, h6, #site-title {
    font-family: "Ek Mukta", Lucida Grande, sans-serif; 
}

code, pre { font-family: Monaco, Andale Mono, monospace; }

h1, h2, h3, h4, h5, h6, #site-title { 
	line-height: 1.2;
	font-weight: normal;
	margin-bottom: 0.5em;
}

p + h1, p + h2, p + h3, p + h4, p + h5, p + h6 { margin-top: 0.5em; }

h1, .entry-title { font-size: 2.4em; }
h2 { font-size: 2.2em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }

p, ul, ol { padding-bottom: 1.5em; }

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 { }

blockquote {
	position: relative; 
	padding: 1em 2.5em 1em 3em;
	margin: 0 5em 0 3em; 
	font-style: italic;	
}

blockquote:before {
	content: '‟';
	position: absolute;
	top: 0.1em;
	left: 0;
	font-size: 5em;
	line-height: 1em; 
	color: #CCC; 
}

ul, ol { 
	padding-left: 1.5em; 
}

li {
	padding-bottom: 0.5em;
	list-style-position: outside;
}

ul > li { list-style-type: disc; }
ul > li ul > li { list-style-type: circle; }
ul > li ul > li ul > li { list-style-type: square; }

ol > li { list-style-type: decimal; }
ol > li ol > li { list-style-type: upper-roman; }
ol > li ol > li ol > li { list-style-type: upper-alpha; }

dl dt { padding-bottom: 0.4em; }
dl dd { padding: 0 0 0.4em 0.908em; }

table {
	width: 100%; 
	margin-bottom: 1.5em; 
	table-layout: fixed;
	border: 1px solid #CCC;
	border-spacing: 0px;
	//border-collapse: collapse;
	border-bottom-color: #FFF; 
	border-right-color: #FFF; 
}

table tbody tr:nth-child(even) td {
	background: rgba(255, 255, 255, .2);
}

table th, table td { 
	padding: 0.2em 0.4em; 
	border: 1px solid #CCC;
	
	border-top-color: #FFF; 
	border-left-color: #FFF; 
}

table th { 
	text-align: left;
	background: rgba(255, 255, 255, .6);
}

/* --- Base styles --- --- --- --- --- --- --- --- */

body {
	color: $color-body-copy;
	background: url("https://europe.wordcamp.org/2015/files/2015/02/banner-entrance.jpg") center -40px no-repeat !important;
}

a {
	color: $color-link-default; 
	text-decoration: none;
}
	

/* --- Navigation --- --- --- --- --- --- --- --- */

#header-wrapper {
	height: 410px;
}

#branding {
	line-height: 4em;
	overflow: hidden;
	float: left;
	margin-left: 2em;
}

#branding-overlay {
	height: 4em;
	background: #000;
	opacity: 0.3;
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	z-index: -1;
	
	@include bp(phone) {
		opacity: 0.6;
	}
}

.menu-toggle,
#site-title {
	display: inline-block;
	margin: 0;
	font-size: 1em;
	text-transform: uppercase;
	height: 4em;
	line-height: 4em;
	font-weight: 200;
	position: relative;
	z-index: 10;

	&, a { color: #FFF; }
}

#site-description {
	display: none;
}

#branding-logo {
	width: 100%;
	height: 15.85em;
	position: absolute;
	left: 0; top: 0;
	margin: -6.125em 0 0 0;
	background: url("https://europe.wordcamp.org/2015/files/2015/02/logo.png") center no-repeat;
	background-size: contain;
}

#header-container {
	margin: 0 auto;
}

#footer-container,
#main-menu-wrapper,
#header-container {
	width: 100%;

	@include bp(desktop) {
		max-width: 60em;
	}
}

#main-menu-wrapper {
	position: absolute; top: 0; left: 50%;
	max-width: 60em;
	margin: 0 0 0 -30em;
	height: 4em;
	
	@include bp(phone) {
		left: 0;
		margin: 0 0 0 -2em
	}
}

#access {
	position: relative;
	height: 4em;
	
	&:before, .menu-toggle:after {
		font-family: fontawesome;
		display: inline-block;
	}

	.menu-toggle {
		cursor: pointer;
		float: right;

		&:after {
			width: 1.2em;
			content: '\f0c9';
			text-align: right;
		}

		&.toggled-on {
			&:after {
				content: '\f00d';
			}
		}
	}

	.menu-header ul {
		display: none; position: absolute; top: 100%; right: -1em;
		padding: 0.5em 1em; background: rgba(0,0,0,0.3); text-align: right;
	
		@include bp(phone) {
			width: 100%;
			padding: 1em 2em; 
			background: rgba(0,0,0,0.6);
		}

		&.toggled-on { display: block; }

		li { display: block; padding: 0 0 0.5em 0; list-style: none outside; }

		li a { 
			display: block;
			padding: 0.2em 1em; white-space: nowrap; color: #FFF;
			background: rgba(0,0,0,0.3); text-shadow: 0.05em 0.05em #000;
			transition: all 0.2s ease-in; font-weight: 200; 
	
			@include bp(phone) {
				padding: 0.6em 1em;
			}
		}
		li a:hover { background: rgba(0,0,0,0.8); }
	}
}

/* --- Content --- --- --- --- --- --- --- --- */

#content-row-wrapper {
	padding: 2em 0;

	@include bp(desktop) {
		padding: 6em 0;
		max-width: 50em;
		margin: 0 auto;
	}
}

#masthead .attachment-post-thumbnail.wp-post-image {
	display: none;
}

.navigation {
	padding: 0 2em 1em 2em;
}

.hentry {
	padding: 0 2em 2em 2em;
	
	@include bp(tablet) {
		padding: 0 3.5em 3em 3.5em;
	}

	@include bp(desktop) {
		padding: 0 5em 4em 5em;
	}

	&, .entry-title, h2, h3, h4, h5, h6, h2 strong, h3 strong, h4 strong, h5 strong, h2 b, h3 b, h4 b, h5 b { font-weight: 200; }

	div[style], span[style] { width: 100% !important; }

	iframe, img.large {
		width: 100%; height: 28em; max-width: inherit;

		@include bp(desktop) {	width: calc(100% + 10em); margin-left: -5em; }
		@include bp(tablet) {	width: calc(100% + 5.45em); margin-left: -3.5em; }
		@include bp(phone) {	width: calc(100% + 3.1em); margin-left: -2em; }

		&.jetpack-likes-widget { height: 55px; width: 100% !important; }

	}

	.share-facebook, .share-twitter, .share-google-plus-1, .share-linkedin, .share-end {
		iframe[style] { margin-left: 0 !important; }
	}

	hr { display: block; border: 0 solid #CCC; border-top-width: 1px; }

	img { 
		display: block; width: auto; max-width: 100%; height: auto;
		
		&.size-full {
			height: auto;
		}
	}

	a {
		&:hover { text-decoration: underline; }
	}
	
	.entry-title, h2, h3 { 
		text-align: center; 

		@include bp(phone) {
			text-align: left;
		}
	}

	.entry-meta, .entry-utility {
		text-transform: uppercase;
		text-align: center;
		font-size: 0.8em;
	}

	.entry-title + .entry-meta {
		.comments-link,
		.edit-link,
		.meta-sep-bull { display: none; }
	}
	
	.entry-content {
		padding: 1em 0;
	}


}

.page {
	.tix-column-remaining { display: none; }

	.tix-column-quantity { width: 15%; }
	.tix-column-price { width: 15%; }
	.tix-column-description { width: 70% }
}

.page .hentry {
	.entry-title {
		position: absolute;
		top: 6em; left: 0;
		width: 100%;
		text-align: center;
		color: #FFF;
		z-index: -1;

		@include bp(phone) {
			top: 8em;
			padding: 0 1em;
		}
	}

	.entry-content h2:first-child {
		text-align: center;
	}
}

.page, .single {
	#branding-logo {
		@include bp(phone) {
			margin-top: 3em;
			background-size: 50%;
		}
	}
}

#footer-wrapper {
	background: #666;
	border-top: 4px solid #FFF;

	&, a { color: #FFF; }
	a:hover { text-decoration: underline; }

	#footer-container {
		margin: 0 auto;
		padding: 1.5em 0;
	}

	#colophon {
		overflow: hidden;

		& > div {
			padding: 0 2em;
		
			@include bp(desktop) {
				width: 50%;
				float: left;
				overflow: hidden;
			}
		}

		#site-generator {
			@include bp(desktop) {
				text-align: right;
			}
		}
	}
}

/* --- Forms --- --- --- --- --- --- --- --- */

.button, form input[type=submit] { 
		display: inline-block; font-size: 1.2em; border: 3px solid #FFF; border-radius: 0.3em; padding: 0.5em 1em; 
		background: transparent;
	
		&:hover { 
			background: #FFF;
			color: #ee3c39;
		}
}

form {
	input, textarea, label { display: block; }

	input, textarea {
		max-width: 100% !important;
		width: 100% !important;
		border: 3px solid #CCC;
		border-radius: 0.2em;
		padding: 0.5em 1em;
		margin-bottom: 1em;
		outline: none;
		
		&:focus {
			border-color: #ee3c39;
		}
	}

	input[type=submit] {
		border-color: #ee3c39;
		color: #ee3c39;
		width: auto !important;
		
		&:hover {
			background: #ee3c39;
			color: #FFF;
			cursor: pointer;
		}
	}

	input[type="checkbox"], input[type="radio"] {
		max-width: inherit !important;
		width: auto !important;
	}

}


/* --- Homepage --- --- --- --- --- --- --- --- */

.home {
	background: url("https://europe.wordcamp.org/2015/files/2015/02/banner-home-1.jpg") center -260px no-repeat !important;

	#header-wrapper { height: 464px; } 

	#branding-logo {
		
		@include bp(mobile) {
			margin-top: 2em;
		}

		@include bp(phone) {
			margin-top: 6em;
		}

		&:before, &:after {
			display: block;
			position: absolute; left: 0; top: 140%;
			width: 100%;
			text-align: center;
			color: #FFF;
			font-weight: 200;
		}

		&:after {
			content: 'June 26 - 28, Seville, Spain #wceu';
			font-size: 3.5em;
			
			@include bp(mobile) {
				font-size: 2.3em;
				line-height: 1.2;
				top: 145%;
			}

			@include bp(tablet) {
				top: 120%;
			}

			@include bp(phone) {
				font-size: 1.6em;
				top: 135%;
			}
		}

		&:before {
			top: 160%;
			content: 'Barceló Gran Hotel Renacimiento';
			text-transform: uppercase;
			font-size: 1.1em;

			@include bp(tablet) {
				top: 130%;
			}

			@include bp(phone) {
				top: 140%;
			}
		}
	}
}

.after-header, #before-footer-1 {

	ul, li { padding: 0; margin: 0; }

	ul {
		overflow: hidden;
	}

		ul li {
			list-style: none outside;
			
			&:first-child .textwidget {
				background: #fec00f;
			}

			@include bp(desktop) {
				width: 50%;
				float: left;
			}		
		}

		.textwidget {
			background: #666;
			text-align: center;
			padding: 2em 4em;
			min-height: 20em;
	
			&, a { color: #FFF; }

			h4, .button { text-transform: uppercase; }
			a.button:hover { color: #ee3c39; }
			
			h4 { font-weight: 400; }
			h2 { font-weight: 200; margin: 1em 0; }


		}
	}

#before-footer-2 {
	ul.xoxo {
		overflow: hidden;
		padding: 3em 0;
		
		& > li {
			width: 25%;
			float: left;
			padding: 1em;
			list-style: none outside;
			
			@include bp(mobile) {
				width: 50%;
			}

			@include bp(phone) {
				width: 100%;
				float: none;
			}

			iframe {
				width: 100% !important;
			}
		}
	}
}

/* --- Componenet: Buzz --- --- --- --- --- --- --- --- */

.page-id-16 {
	@include bp(desktop) {
		
		#content-row-wrapper {
			padding: 4em 0;
			max-width: inherit;
		}

		#tggr-media-item-container {

			.tggr-media-item {
				position: relative !important;
				top: inherit !important;
				left: inherit !important;
				width: 31% !important;
				float: left;
				margin: 0 0 1em 1em !important;
				
				.wp-smiley { display: inline-block; width: 16px; height: 16px;	}
			}
		}
	}
}

.tggr-media-item {
			-webkit-column-break-inside: avoid;
}


/* --- Componenet: Tickets --- --- --- --- --- --- --- --- */

#tix {

	.tix_tickets_table input[type=radio] { display: inline }
	.tix_tickets_table input[type=checkbox] { display: inline }

}

/* --- Component: Organizers --- --- --- --- --- --- --- --- */
.wcorg-speakers,
.wcorg-organizers,
.wcorg-speaker {

	h2,
	h3 { text-align: left !important; }

	.wcorg-organizer,
	.wcorg-speaker {
		padding: 0 0 3em 0;
	}

	.wcorg-organizer-description,
	.speaker-bio {
		overflow: hidden;
	
		img { display: block; float: right; margin: 0 0 2em 2em; border-radius: 50%; }
	}
}

/* --- Component: TIX Tickets --- --- --- --- --- --- --- --- */

.tix_tickets_table.tix-order-summary {
	table-layout: inherit;
}

.tix_tickets_table.tix-attendee-form {
	table-layout: inherit;
	border-collapse: collapse;
	border: 1px solid #CCC;
	
	&, td, th { border: none; border-top: 1px solid #CCC; }

	td, th { padding: 1em; }

	.tix-left {
		text-align: right;
		padding-right: 0.6em;
	}

	.tix-right {
		padding-left: 0.6em;
	
		label + br { display: none; }
	}

}

/* --- Component: Attendees --- --- --- --- --- --- --- --- */
#tix-attendees {

	li {
		@include bp(mobile) {
			width: 100% !important;
			height: auto !important;
			margin: 0 0 1em 0;
			float: none;
			min-height: 4em;
		}
	}

  ul {
    margin:0;
    padding:0;
		
		li { list-style:none; }
		
  }

  img { @include border-radius(25px) }

  .tix-first { font-weight:bold; }

  ul li .tix-field {
    margin-left: 60px;
		font-size: 12px;
  }
	
}

/* --- Component: Gallery --- --- --- --- --- --- --- --- */

.gallery {
	overflow: hidden;
	
	&.gallery-columns-1,
	&.gallery-columns-2,
	&.gallery-columns-3,
	&.gallery-columns-4,
	&.gallery-columns-5,
	&.gallery-columns-6,
	&.gallery-columns-7,
	&.gallery-columns-8,
	&.gallery-columns-9 {
		.gallery-icon {
			&, a, img {
				width: 100%; 
				height: auto;
			}
		}
	}
	
	.gallery-item {
		float: left;
		padding: 0 0.5em 0.5em 0;
	}

	.gallery-icon {
		a, img { display: block; }
	}

	&.gallery-columns-1 .gallery-item { width: 100%; }
	&.gallery-columns-2 .gallery-item { width: 50%; }
	&.gallery-columns-3 .gallery-item { width: 33.33%; }
	&.gallery-columns-4 .gallery-item { width: 25%; }
	&.gallery-columns-5 .gallery-item { width: 20%; }
	&.gallery-columns-6 .gallery-item { width: 16.66%; }
	&.gallery-columns-7 .gallery-item { width: 14.28%; }
	&.gallery-columns-8 .gallery-item { width: 12.5%; }
	&.gallery-columns-9 .gallery-item { width: 11.11%; }

}

/* Petya's CSS edits to Speakers page before Koko works on it */

.cpt-loop.speaker-gravatar-list {
 display: none;
}

.page .speakers .hentry .entry-title {
  position: static;
  color: #000;
}

/* --- Component: Sponsors --- --- --- --- --- --- --- --- */
.page-id-8 {
	.page .hentry .entry-title { position: static; }


	.wcorg-sponsors {
		.wcorg-sponsor-description {
			img { margin: 2em auto; }
		}
	}

	.wcorg-sponsor-level-micro-sponsor {
		overflow: hidden;
	
		& > h2 {
			margin-bottom: 2em;
		}
	}

	.wcorg-sponsor-level-micro-sponsor .wcorg-sponsor {
		width: 30% !important;
		min-height: 9em;
		padding: 0;
		float: left;
	
		& > h3 { display: none; }

		&:nth-of-type(3n-1) { margin: 0 5%; }
	
		h3 a, img { display: block; }
		img { width: 100%; }
	}
}

/* --- Component: Sessions --- --- --- --- --- --- --- --- */
.page-id-7 {
	.page .hentry .entry-title { position: static; }
	.session-meta a { display: none; }
}

/* --- Component: Schedule --- --- --- --- --- --- --- --- */
@media (min-width: 980px) {
	.page-id-5, .page-id-7 {
		.hentry { padding: 0; }
	}
}

@media (min-width: 700px) {
 	table.wcpt-schedule th:first-child, table.wcpt-schedule td:first-child {
		width: 15%;
		text-align: left !important;
	}
}

@media screen and (max-width: 700px) {
	.wcpt-schedule tr { 
		border: none;
		border-bottom: 1px solid #CCC;
		
		td, th {
			border-bottom: none !important;
		}

		.wcpt-session-type-session:before {
			border: none;
			padding: 0;
			margin: 0;
			font-size: inherit;
			line-height: inherit;
		}

		.wcpt-session-type-session {
			margin-bottom: 0;
		}

		.wcpt-session-title, .wcpt-session-speakers {
			margin: 0 !important;
			padding: 0 !important;
		}
	
		.wcpt-time {
			font-size: inherit;
		}
	}
}

.page-id-5 {
	.hentry h3 {
		border: 1px solid #CCC;
  	margin: 0;
  	border-bottom: none;
  	border-top-left-radius: 0.3em;
  	border-top-right-radius: 0.3em;
  	padding: 0.4em 0;
		text-align: center !important;
	}
}

table.wcpt-schedule {
	border-collapse: collapse;
	border: none;
	color: #444;
	margin-bottom: 2.5em;

	thead {
		background: #c42e31;
		color: #fff;
			
		td, th {
			border-color: #c42e31;
			text-align: center;
		}
	}

	td, th {
		padding: 0.8em 1em;
		border: 1px solid #CCC;
		background: none;
	}

 	.global-session {
		td { text-align: center; }
	}

	.wcpt-session-title {
	}

	.wcpt-session-speakers {
		display: block;
		font-size: 0.8em;
		margin-top: 0.2em;
	
		&, a { color: #000; }
	}
	
	.wcb-session-coffee-break, .wcb-session-coffee-break-2 {
	  background: #F8F8F8;
	  color: #666;
	}
}

/* --- Component: Speakers --- --- --- --- --- --- --- --- */
.wcorg-speakers {

	h2, h3 {
		text-align: left !important;
		
		&, a { color: #000; }
	}

	.wcorg-speaker {
		padding: 0 0 3em 0;
		overflow: hidden;
	
		img { display: block; float: right; margin: 0 0 2em 2em; border-radius: 50%; }
	}
}

